/* ONBOARDING */
.onboarding-holder .image-holder {
	padding-top: 52%;
	background-color: #c2c2c2;
	position: relative;
}

.onboarding-holder .image-holder .fa {
	position: absolute;
	color: #333333;
	top: calc(50% - 20px);
	left: calc(50% - 22px);
	font-size: 40px;
	width: 45px;
	text-align: center;
}

.onboarding-holder {
	position: relative;
}

.onboarding-holder.placeholder {
	opacity: 0.5;
	cursor: pointer;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	-webkit-user-modify: read-only !important;
}

.onboarding-content {
	position: relative;
	background-color: transparent;
}

.onboarding-content img {
	max-width: 100%;
	height: auto;
}

.ob-top-nav {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: transparent;
	line-height: 34px;
	padding: 5px 15px;
	z-index: 5;
}

.ob-top-nav .ob-skip {
	color: #777777;
	font-size: 1em;
	text-align: right;
}

.ob-top-nav .ob-skip span {
	cursor: pointer;
	padding: 5px 0;
}

.ob-bottom-nav {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	color: #777777;
	font-size: 1em;
	line-height: 34px;
	padding: 5px 15px;
	z-index: 5;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.swiper-container {
	width: 95vw;
}

.swiper-wrapper {
	margin: 44px 0;
}

.swiper-slide {
	padding: 0 33px;
	text-align: center;
	font-size: 16px;
	color: #333333;
	overflow-y: auto;
	overflow-x: hidden;
}

.ob-bottom-nav .swiper-pagination {
	position: relative;
}

.swiper-pagination-bullet {
	margin-right: 5px;
	opacity: 1;
	background-color: rgba(0,0,0,0.1);
}

.swiper-pagination-bullet:last-child {
	margin-right: 0;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #337ab7;
}

.onboarding-content .swiper-button-next,
.onboarding-content .swiper-button-prev {
	background-image: none;
	position: absolute;
	top: 50%;
	width: 33px;
	padding: 0;
	height: 48px;
	margin: -24px 0 0;
	cursor: default;
	z-index: 10;
	line-height: 48px;
	font-size: 48px;
	color: #999999;
}

.onboarding-content .swiper-button-prev {
	left: 0;
	text-align: left;
}

.onboarding-content .swiper-button-next {
	right: 0;
	text-align: right;
}

.onboarding-content .swiper-button-next,
.onboarding-content .swiper-button-prev {
	cursor: pointer;
}

.onboarding-content .swiper-button-next.swiper-button-disabled,
.onboarding-content .swiper-button-prev.swiper-button-disabled {
	opacity: 0;
	cursor: default;
}
/* END OF ONBOARDING */
/* SLIDE CONTENT ANIMATION */
.swiper-wrapper.animated .swiper-slide img {
	opacity: 0;
	-webkit-transform: translate3d(35px,0,0);
	transform: translate3d(35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.10s;
	transition: all 0.55s ease-out 0.10s;
}

.swiper-wrapper.animated .swiper-slide h1 {
	padding: 10px 0;
	opacity: 0;
	-webkit-transform: translate3d(35px,0,0);
	transform: translate3d(35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.25s;
	transition: all 0.55s ease-out 0.25s;
}

.swiper-wrapper.animated .swiper-slide p {
	padding: 0 30px 10px;
	opacity: 0;
	-webkit-transform: translate3d(35px,0,0);
	transform: translate3d(35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.40s;
	transition: all 0.55s ease-out 0.40s;
}

.swiper-wrapper.animated .swiper-slide input {
	opacity: 0;
	-webkit-transform: translate3d(35px,0,0);
	transform: translate3d(35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.55s;
	transition: all 0.55s ease-out 0.55s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-prev img {
	opacity: 0;
	-webkit-transform: translate3d(-35px,0,0);
	transform: translate3d(-35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.10s;
	transition: all 0.55s ease-out 0.10s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-prev h1 {
	opacity: 0;
	-webkit-transform: translate3d(-35px,0,0);
	transform: translate3d(-35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.25s;
	transition: all 0.55s ease-out 0.25s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-prev p {
	opacity: 0;
	-webkit-transform: translate3d(-35px,0,0);
	transform: translate3d(-35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.40s;
	transition: all 0.55s ease-out 0.40s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-prev input {
	opacity: 0;
	-webkit-transform: translate3d(-35px,0,0);
	transform: translate3d(-35px,0,0);
	-webkit-transition: all 0.55s ease-out 0.55s;
	transition: all 0.55s ease-out 0.55s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-active img {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.55s ease-out 0.10s;
	transition: all 0.55s ease-out 0.10s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-active h1 {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.55s ease-out 0.25s;
	transition: all 0.55s ease-out 0.25s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-active p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.55s ease-out 0.40s;
	transition: all 0.55s ease-out 0.40s;
}

.swiper-wrapper.animated .swiper-slide.swiper-slide-active input {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.55s ease-out 0.55s;
	transition: all 0.55s ease-out 0.55s;
}
/* SLIDE CONTENT ANIMATION */
/* Buttons */
.btn-primary {
	display: block;
	clear: both;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 24px;
	border: none;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
}

.btn-secondary {
	display: block;
	clear: both;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 24px;
	border: none;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-secondary:focus,
.btn-secondary:hover,
.btn:active:focus {
	outline: none;
}

.btn-danger {
	display: block;
	clear: both;
	width: 100%;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border: none;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
}

.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger:focus,
.btn-danger:hover {
	color: #FFF;
	background-color: #c9302c;
	border-color: #c9302c;
	outline: none;
}
@media (min-width:640px) {
	.btn-primary,
	.btn-secondary {
		clear: none;
		display: inline-block;
		width: auto;
		max-width: 100%;
	}
}

.btn-link,
a {
	text-decoration: underline;
}
